body, html {
  height: 100%;
  margin: 0;
  background-color: #333333;
  font-family: "Courier New", Courier, monospace
}

a {
  color: #bdb5b5;
}

/*.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/1991_website_vertical.png");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  overflow: scroll;
}*/

.splash-image {
  width: 100%;
}


.splash-text {
  position: absolute;
  top: 25%;
  left: 75%;
  color: white;
}